//= require_self
//= require_tree .

$divider-color: #9FC9EB;
$header-font-color: #F26739;
$dark-background-color: #E6E7E8;
$light-background-color: #F1F2F2;
$font-color: #6c6c6c;
$medium-font-color: #a1a1a1;
$light-font-color: #d3d3d3;
$body-font: Georgia;
$header-font: 'Oswald';
$section-margin: 40px;
$content-width: 835px;

@mixin gradient($from, $to){
/* fallback/image non-cover color */
  background-color: $from;

/* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

/* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

/* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

/* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

.clearfix {
  clear: both;
}

body, html {
  padding: 0px;
  margin: 0px;
  background-color: white;
}

body {
  font-family: $body-font;
  color: $font-color;

  a, a:visited, a:active {
    text-decoration: none;
    color: $font-color;
  }
  a:hover {
    text-decoration: underline;
  }

  .divider {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 2px;
    background-color: $dark-background-color;
  }

  .container {
    height: 100%;
    margin-top: 20px;

    h3 {
      margin-top: 0px;
      color: $header-font-color;
      font-family: Arial;
    }
    .header_container {
      .logo {
        margin: 0 auto;
        width: 293px;
        height: 293px;
        background-repeat: no-repeat;
        background: url(/assets/sprites.png) 0 0;
      }
      .blurb {
        @include gradient(white, $dark-background-color);
        padding: $section-margin;

        h1, h2 {
          margin: 0 auto;
          text-align: center;
          font-family: $header-font;
          color: $header-font-color;
          font-weight: 100;
        }
        h1 {
          font-size: 47px;
          letter-spacing: 3px;
          margin-bottom: -7px;
        }
        h2 {
          font-size: 21px;
        }

        p {
          margin: 0 auto;
          margin-top: $section-margin;
          max-width: 600px;
          font-size: 17px;
          line-height: 25px;
          text-align: justify;

        }

        .divider {
          width: 380px;
        }
      }
    }

    .project_summary {
      padding: $section-margin 0px $section-margin 0px;
      p.title {
        margin: 0;
        font-family: $header-font;
        color: $header-font-color;
        font-size: 25px;
      }

      width: $content-width;
      margin: 0 auto;
    }

    .repo_container {
      padding-top: $section-margin;
      margin-top: 50px;
      clear: both;
      background-color: $light-background-color;

      border-top: 3px solid #f9fafa;
      border-bottom: 3px solid #f9fafa;

      .repo {

        margin: 0 auto;
        width: $content-width;

        .stats {
          float: left;
          width: 122px;
          text-align: center;
          padding: 0 10px;

          .team_logo {
            width: 122px;
            height: 122px;
            position: relative;
            top: -60px;
          }

          .team_logo#logo-1 {
            background: url(/assets/sprites.png) -293px -93px;
          }
          .team_logo#logo-2 {
            background: url(/assets/sprites.png) -415px -93px;
          }
          .team_logo#logo-3 {
            background: url(/assets/sprites.png) -537px -93px;
          }
          .team_logo#logo-4 {
            background: url(/assets/sprites.png) -659px -93px;
          }
          .team_logo#logo-5 {
            background: url(/assets/sprites.png) -293px -215px;
          }
          .team_logo#logo-6 {
            background: url(/assets/sprites.png) -415px -215px;
          }
          .team_logo#logo-7 {
            background: url(/assets/sprites.png) -537px -215px;
          }
          .team_logo#logo-8 {
            background: url(/assets/sprites.png) -659px -215px;
          }

          h2 {
            margin-top: 20px;
            margin-bottom: 0px;
            color: $header-font-color;
            font-family: Arial;
            font-weight: bold;
          }

          p {
            margin-top: 0;
            margin-bottom: 0;
            font-family: $header-font;
            color: $header-font-color;
            font-size: 16px;
            position: relative;
            top: -40px;
          }

          p.number {
            margin-top: 10px;
            font-size: 24px;
          }

          p.title {
            font-size: 12px;
            margin: 0 15px;
          }
        }

        .description {
          float: left;
          width: 330px;
          padding: 0 10px 0 30px;
        }

        .avatars {
          float: left;
          img {
            padding: 0 0 20px 20px;
          }

          .divider, .last_commit {
            margin-left: 20px;
          }

          .last_commit {
            color: $medium-font-color;
            margin-top: 15px;
          }

          .divider {
            width: 295px;
            background-color: $divider-color;
          }
        }
      }
    }
  }

  .footer {
    margin: 0 auto;
    width: $content-width;
    color: $light-font-color;
    margin-top: 50px;
    margin-bottom: 100px;

    .logo_container, .link_panel {
      p {
        font-family: $header-font;
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 2px;
        border-bottom: 2px solid $light-font-color;
      }
    }

    .logo_container {
      float: left;
      width: 314px;
      a {
        color: white;
        .text {
          width: 0px;
          height: 0px;
          display: none;
        }
      }

      .adi_logo {
        float: left;
        width: 122px;
        height: 64px;
        background: url(/assets/adi-logo.png) 0 0;
      }
      .etsy_logo {
        float: left;
        margin-left: 30px;
        width: 160px;
        height: 78px;
        background: url(/assets/etsy_logo.png) 0 -25px;
      }
    }

    .link_panel {
      float: right;
      width: 300px;

      .column {
        padding-right: 20px;
        float: left;
        .row {
          a, a:visited, a:active {
            color: $medium-font-color;
          }

          padding-bottom: 10px;
        }
      }
    }
  }
}
