//= require_self
//= require_tree .

$divider-color: #9FC9EB;
$header-font-color: #F26739;
$dark-background-color: #E6E7E8;
$light-background-color: #F1F2F2;
$font-color: #6c6c6c;
$body-font: Georgia;
$header-font: 'Oswald';
$section-margin: 40px;

@mixin gradient($from, $to){
/* fallback/image non-cover color */
  background-color: $from;

/* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

/* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

/* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

/* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

.clearfix {
    clear: both;
}

body, html {
  padding: 0px;
  margin: 0px;
  background-color: white;
}

body {
  font-family: $body-font;
  color: $font-color;

  .divider {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 2px;
    background-color: $dark-background-color;
  }

  .container {
    margin: $section-margin;
    height: 100%;
    h3 {
      margin-top: 0px;
      color: $header-font-color;
      font-family: Arial;
    }
    .header_container {
      .logo {
        margin: 0 auto;
        width: 293px;
        height: 293px;
        background-repeat: no-repeat;
        background: url(/assets/sprites.png) 0 0;
      }
      .blurb {
        @include gradient(white, $dark-background-color);
        padding: $section-margin;

        h1, h2 {
          margin: 0 auto;
          text-align: center;
          font-family: $header-font;
          color: $header-font-color;
          font-weight: 100;
        }
        h1 {
          font-size: 47px;
          letter-spacing: 3px;
          margin-bottom: -7px;
        }
        h2 {
          font-size: 21px;
        }

        p {
          margin: 0 auto;
          margin-top: $section-margin;
          max-width: 600px;
          font-size: 17px;
          line-height: 25px;
          text-align: justify;

        }

        .divider {
          width: 380px;
        }
      }
    }

    .project_summary {
      padding: $section-margin 0px $section-margin 0px;
      p.title{
        margin: 0;
        font-family: $header-font;
        color: $header-font-color;
        font-size: 25px;
      }

      margin: 0 auto;
      max-width: 800px;
    }

    .repo_container {
      padding: $section-margin 0px $section-margin 0px;
      margin: 0 auto;
      max-width: 800px;
      clear: both;
      background-color: $light-background-color;

      .stats {
        float: left;
        width: 121px;
        text-align: center;
        padding: 0 10px;

        .team_logo {
          width: 121px;
          height: 121px;
        }

        .team_logo#logo-1 {
          background: url(/assets/sprites.png) -293px -93px;
        }
        .team_logo#logo-2 {
          background: url(/assets/sprites.png) -416px -93px;
        }

        h2 {
          margin-top: 20px;
          margin-bottom: 0px;
          color: $header-font-color;
          font-family: Arial;
          font-weight: bold;
        }

        p {
          margin-top: 0;
          margin-bottom: 0;
          font-family: $header-font;
          color: $header-font-color;
          font-size: 16px;
        }

        p.number {
          margin-top: 10px;
          font-size: 24px;
        }

        p.title {
          font-size: 12px;
          margin: 0 15px;
        }
      }

      .description {
        float: left;
        width: 330px;
        padding: 0 10px;

      }

      .avatars {
        float: left;
        width: 300px;

        img {
          padding: 0 20px 20px 0;
        }

        .divider {
          background-color: $divider-color;
        }
      }
    }
  }
}
